<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bootcamp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Bootcamp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <pre><%= session[:return_to] %></pre>
    <header>
      <% if user_signed_in? %>
        <p>Welcome, <%= current_user.name.presence || current_user.email %>!</p>
        <%= button_to "Sign out", logout_path, method: :delete %>
      <% else %>
        <%= button_to login_path,
                      method: :post,
                      data: { turbo: false },
                      class: "google-btn" do %>
          <div class="google-btn-content">
            <img src="https://developers.google.com/identity/images/g-logo.png"
                  alt="Google logo" class="google-logo">
            <span>Sign in with Google</span>
          </div>
        <% end %>
      <% end %>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
